In [ ]:
import pandas as pd
import os

# print("Current working directory:", os.getcwd())
# df1 = pd.read_excel("gm1.xlsx")
# df2 = pd.read_excel("gm2.xlsx")
# df3 = pd.read_excel("gm3.xlsx")
# df4 = pd.read_excel("gm4.xlsx")
# df5 = pd.read_excel("gm5.xlsx")

Current working directory: /Users/jungwoopark/Summer_Project/dataset

In [12]:
df1.head(2)

,title,categoryName,website,url,reviewsCount,stars,text
0,The Table on Delk,Family restaurant,http://thetableondelk.org/,https://www.google.com/maps/place/The+Table+on...,7,5,NaN
1,The Table on Delk,Family restaurant,http://thetableondelk.org/,https://www.google.com/maps/place/The+Table+on...,7,4,The Table is a faith based women‚Äôs out reach p...

In [ ]:
# df_all = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)
# df_all["text"] = df_all["text"].fillna("").str.lower()
# df_all = df_all.drop_duplicates()
# df_all["text"] = df_all["text"].str.lower()
# df_all["title"] = df_all["title"].str.lower()
# df_all["categoryName"] = df_all["categoryName"].str.lower()

# # Save
# df_all.to_csv("cleaned_restaurants.csv", index=False)
# print("‚úÖ Saved to 'cleaned_restaurants.csv'")

‚úÖ Saved to 'cleaned_restaurants.csv'

In [23]:
data = pd.read_csv("cleaned_restaurants.csv")

print(f"üî¢ Rows: {data.shape[0]}  |  Columns: {data.shape[1]}")
print(f"üìù Titles: {data['title'].nunique()}")
print(f"üóÇÔ∏è Categories: {data['categoryName'].nunique()}")

üî¢ Rows: 86374  |  Columns: 7
üìù Titles: 516
üóÇÔ∏è Categories: 81